<% include ../partials/header %>
		<section>
			<form action="/books" method="post" novalidate>
				<fieldset>
					<legend>Books Info</legend>
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" id="book_title" name="title" placeholder="Your Book Title" required>
					</div>
					<div class="form-group">
						<label for="author">Author</label>
						<input type ="text" class="form-control" id="book_author" name="author" placeholder="The Authors Name" required>
					</div>
					<div class="form-group">
						<label for="cover">Cover</label>
						<input type="text" class="form-control" id="book_cover" name="cover" placeholder="Is you book hardcover or paperback?" required>
					</div>
					<div class="form-group">
						<label for="price">Price</label>
						<input type="Number" class="form-control" id="book_price" name="price" placeholder="What is the price of your book in CAD?" step="0.01" min="0" required>
					</div>
					<div class="form-group">
						<label for="releaseDate">Release Date</label>
						<input type="Date" class="form-control" id="book_date" name="releaseDate" placeholder="When did the book come out?" required>
					</div>
				</fieldset>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Create Book</button>
				</div>
			</form>
		</section>
<% include ../partials/footer%>
